<mat-card class="max-w-xs h-screen flex flex-wrap justify-center content-center m-auto px-4">
  <form (ngSubmit)="login()" [formGroup]="form">
    <mat-card-title class="text-center"> Iniciar Sesión </mat-card-title>

    <mat-card-content class="mt-8">
      <div class="example-container">
        <mat-form-field>
          <mat-label>Ingresa tu usuario</mat-label>
          <input matInput formControlName="nombre" required />
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field class="w-full">
          <mat-label>Ingresa tu contraseña</mat-label>
          <input matInput formControlName="password" type="password" required />
          <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-footer>
      <button mat-button cdkFocusInitial color="primary" type="submit" class="w-full">
        Login
      </button>
    </mat-card-footer>
  </form>
</mat-card>
