<mat-tab-group>
  <mat-tab label="Información">
    <form [formGroup]="formEmployee" class="px-5 py-3">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-2 mt-4">
        <mat-form-field>
          <mat-label>Primer nombre</mat-label>
          <input matInput formControlName="primer_nombre" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Segundo nombre</mat-label>
          <input matInput formControlName="segundo_nombre" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tercer nombre</mat-label>
          <input matInput formControlName="tercer_nombre" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Primer apellido</mat-label>
          <input matInput formControlName="primer_apellido" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Segundo apellido</mat-label>
          <input matInput formControlName="segundo_apellido" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Apellido de casada</mat-label>
          <input matInput formControlName="apellido_de_casada" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha de nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="fecha_de_nacimiento"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker
            #picker
            startView="multi-year"
            [startAt]="startDate"
          ></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Sexo</mat-label>
          <mat-select formControlName="id_sexo">
            <mat-option *ngFor="let element of sexo" [value]="element.id">
              {{ element.sexo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Género</mat-label>
          <mat-select formControlName="id_genero">
            <mat-option *ngFor="let element of genero" [value]="element.id">
              {{ element.genero }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Estado civil</mat-label>
          <mat-select formControlName="id_estado_civil">
            <mat-option
              *ngFor="let element of estado_civil"
              [value]="element.id"
            >
              {{ element.estadoCivil }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>No. de hijos</mat-label>
          <input matInput type="number" formControlName="numero_de_hijos" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>País de origen</mat-label>
          <mat-select formControlName="id_pais_origen">
            <mat-option
              *ngFor="let element of nacionalidad_pais"
              [value]="element.id"
            >
              {{ element.nacionalidad }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nacionalidad</mat-label>
          <mat-select formControlName="id_nacionalidad_pais">
            <mat-option
              *ngFor="let element of nacionalidad_pais"
              [value]="element.id"
            >
              {{ element.nacionalidad }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Municipio</mat-label>
          <mat-select formControlName="id_municipio">
            <mat-option *ngFor="let element of municipio" [value]="element.id">
              {{ element.municipio }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tipo de identificación</mat-label>
          <mat-select formControlName="id_doc_identificacion">
            <mat-option
              *ngFor="let element of doc_identificacion"
              [value]="element.id"
            >
              {{ element.documento }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>No. Identificación</mat-label>
          <input matInput formControlName="numero_de_identificacion" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Identificación extranjera</mat-label>
          <input
            matInput
            formControlName="numero_de_identificacion_extranjera"
          />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Pueblo</mat-label>
          <mat-select formControlName="id_pueblo_pertenencia">
            <mat-option
              *ngFor="let element of pueblo_pertenencia"
              [value]="element.id"
            >
              {{ element.pueblo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Comunidad linguistica</mat-label>
          <mat-select formControlName="id_comunidad_linguistica">
            <mat-option
              *ngFor="let element of comunidad_linguistica"
              [value]="element.id"
            >
              {{ element.comunidad }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="w-full flex justify-center md:justify-end">
        <button mat-raised-button color="primary" (click)="createEmployee()">
          Guardar
        </button>
      </div>
    </form>
  </mat-tab>

  <mat-tab *ngIf="employee" label="Contrato">
    <form [formGroup]="formContract" class="px-5 py-3">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-5 mt-4">
        <mat-form-field>
          <mat-label>NIT</mat-label>
          <input matInput type="number" formControlName="nit" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>IGSS</mat-label>
          <input matInput type="number" formControlName="igss" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nivel educativo</mat-label>
          <mat-select formControlName="id_nivel_educativo">
            <mat-option
              *ngFor="let element of nivel_educativo"
              [value]="element.id"
            >
              {{ element.nivel }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Profesión</mat-label>
          <input matInput formControlName="profesion" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Temporalidad contrato</mat-label>
          <mat-select formControlName="id_temporalidad_contrato">
            <mat-option
              *ngFor="let element of temporalidad_contrato"
              [value]="element.id"
            >
              {{ element.temporalidad }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tipo contrato</mat-label>
          <mat-select formControlName="id_tipo_contrato">
            <mat-option
              *ngFor="let element of tipo_contrato"
              [value]="element.id"
            >
              {{ element.tipo }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ocupación</mat-label>
          <mat-select formControlName="id_ocupacion">
            <mat-option *ngFor="let element of ocupacion" [value]="element.id">
              {{ element["ocupación"] }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Jornada</mat-label>
          <mat-select formControlName="id_jornada_trabajo">
            <mat-option
              *ngFor="let element of jornada_trabajo"
              [value]="element.id"
            >
              {{ element.jornada }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Discapacidad</mat-label>
          <mat-select formControlName="id_tipo_discapacidad">
            <mat-option
              *ngFor="let element of tipo_discapacidad"
              [value]="element.id"
            >
              {{ element.discapacidad }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Proyecto</mat-label>
          <mat-select formControlName="proyecto">
            <mat-option
              *ngFor="let element of proyectos"
              [value]="element.nombre"
            >
              {{ element.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha de inicio</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFechaInicio"
            formControlName="fecha_inicio"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerFechaInicio"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaInicio></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Fecha final</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFechaFinal"
            formControlName="fecha_fin"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerFechaFinal"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaFinal></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>No. de cuenta</mat-label>
          <input matInput type="number" formControlName="numero_de_cuenta" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Salario</mat-label>
          <input matInput type="number" formControlName="salario" />
        </mat-form-field>

        <mat-form-field class="md:col-span-2 w-full">
          <mat-label>IGSS Ocupación</mat-label>
          <mat-select formControlName="id_igss_ocupacion">
            <mat-option
              *ngFor="let element of igss_ocupacion"
              [value]="element.id"
            >
              {{ element.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="md:col-span-2 w-full">
          <mat-label>IGSS tipo de salario</mat-label>
          <mat-select formControlName="id_igss_tipo_salario">
            <mat-option
              *ngFor="let element of igss_tipo_salario"
              [value]="element.id"
            >
              {{ element.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="md:col-span-2 w-full">
          <mat-label>Puesto</mat-label>
          <mat-select formControlName="puesto">
            <mat-option
              *ngFor="let element of puestos"
              [value]="element.nombre"
            >
              {{ element.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <section class="md:col-span-2">
          <span>
            <ul class="flex gap-x-3">
              <li *ngFor="let element of documentos">
                <mat-checkbox color="primary">
                  {{ element.descripcion }}
                </mat-checkbox>
              </li>
            </ul>
          </span>
        </section> -->
      </div>
      <div class="w-full flex justify-center md:justify-end">
        <button mat-raised-button color="primary" (click)="createContract()">
          Guardar
        </button>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
