/* You can add global styles to this file, and also import other style files */

// TailwindCSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --ion-color-primary: red; /* Cambia este valor al color deseado */
}

.container {
  @apply  max-w-4xl mx-auto;
}
// FORMS
ion-input {
  --padding-bottom: 1px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
